<div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" required>
</div>
<div class="form-group">
    <label for="thought">Your thoughts</label>
    <textarea name="thought" id="thought" required></textarea>
</div>
<a href="/" class="button">Cancel</a>
<button type="submit" class="button">Submit</button>