<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs') %>
    <title>new thought</title>
</head>
<body>
    <div class="container">
        <h1>new thought</h1>
        <form action="/thought" method="post">
            <%- include('form_fields') %> 
        </form>
    </div>
</body>
</html>